.tox
.cache
__pycache__
*.pyc
MANIFEST
validationTestsJunit.xml
.bash_history
*.DS_Store


# build files
.dapper

# ignores all goland project folders and files
.idea/
*.iml
*.ipr

# ignore a python venv
venv
