apiVersion: v1
kind: ServiceAccount
metadata:
  name: longhorn-test-service-account
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: longhorn-test-role
rules:
- apiGroups: [""]
  resources: ["nodes", "nodes/status", "pods", "pods/exec", "persistentvolumes", "persistentvolumeclaims", "secrets"]
  verbs: ["*"]
- apiGroups: ["storage.k8s.io"]
  resources: ["storageclasses"]
  verbs: ["*"]
- apiGroups: ["apps"]
  resources: ["statefulsets", "deployments", "daemonsets"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: longhorn-test-bind
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: longhorn-test-role
subjects:
- kind: ServiceAccount
  name: longhorn-test-service-account
  namespace: default
---
apiVersion: v1
kind: Pod
metadata:
  name: longhorn-test
  namespace: default
  labels:
    longhorn-test: test-job
spec:
  containers:
  - name: longhorn-test-pod
    image: longhornio/longhorn-manager-test:staging
#    args: [
#           "-x", "-s",
#           "-m", "coretest",
#           "-k", "test_recurring_job",
#           "--skip-recurring-job-test",
#           ]
    #TEST_FRAMEWORK_ARGS_PLACEHOLDER
    imagePullPolicy: Always
    securityContext:
      privileged: true
    env:
    - name: LONGHORN_JUNIT_REPORT_PATH
      value: /integration/tests/longhorn-test-junit-report.xml
    - name: LONGHORN_BACKUPSTORES
      value: "s3://backupbucket@us-east-1/backupstore$minio-secret, nfs://longhorn-test-nfs-svc.default:/opt/backupstore"
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: ENV_DO_API_TOKEN 
      value: DO_API_TOKEN_VALUE
    - name: CLOUDPROVIDER
      value: CLOUDPROVIDER_NAME
    volumeMounts:
    - name: dev
      mountPath: /dev
    - name: proc
      mountPath: /host/proc
    - name: disk-directory
      mountPath: /tmp/longhorn-test
      mountPropagation: Bidirectional
  volumes:
  - name: dev
    hostPath:
      path: /dev/
  - name: proc
    hostPath:
      path: /proc/
  - name: disk-directory
    hostPath:
      path: /tmp/longhorn-test/
  restartPolicy: Never
  serviceAccountName: longhorn-test-service-account
