apiVersion: v1
kind: ServiceAccount
metadata:
  name: longhorn-test-service-account
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: longhorn-test-role
rules:
- apiGroups: [""]
  resources: ["pods", "pods/exec"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: longhorn-test-bind
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: longhorn-test-role
subjects:
- kind: ServiceAccount
  name: longhorn-test-service-account
  namespace: default
---
apiVersion: v1
kind: Pod
metadata:
  name: longhorn-test
  labels:
    longhorn-test: test-job
spec:
  containers:
  - name: longhorn-test-pod
    image: rancher/longhorn-manager-test:bb2f6f7
    #imagePullPolicy: Always
    #args: ["-x", "-s", "-k", "test_volume_multinode"]
  restartPolicy: Never
  serviceAccountName: longhorn-test-service-account
